body {
	margin: 0 auto;
	font-family: Helvetica, Arial, sans-serif;
	background-color: #4D4D4D;
	color: #808080;
	font-size: 12pt;
}

body a {
	color: #808080;
}
body a:hover {
	color: #48A1F0;
}

/* Header */
header {
	position: absolute;
	top: 15px;
	right: 20px;
	border: 0;
	color: #808080;
}

header a{
	text-decoration: none;
	color: #48A1F0;
}



ul#navigation {
	list-style-type:none;
	margin-left:0;
	margin-top: 24px;
	padding-left: 140px;
	color: #808080;
}
ul#navigation a {
	color: #808080;
	text-decoration: none;
}
ul#navigation a:hover {
	color: #48A1F0;
}
ul#navigation li{
	float:left;
	padding-right:2px;
}

#breadcrumb {
	margin-top: 40px;
	margin-bottom: 20px;
	color: #48A1F0;
	font-size: 9pt;
}
#breadcrumb a {
	color: #48A1F0;
	font-size: 9pt;
}


/* */
section {
	margin-top: 100px;
	margin-bottom: 200px;
	padding-left: 140px;
}


/* Footer */
footer {
	position: absolute;
	left: 50%;
	width: 795px;
	margin-left: -397px;
	
}
#footer_content {
	position: absolute;
	left: 0px;
	width: 795px;
	/*margin-left: -397px;*/
	margin-top: -150px;
	margin-left: 100px;
	color: #999999;
	font-size: 9pt;
}
#footer_content a {
	text-decoration: none;
	color: #999999;
}



h1 {
	font-size: 16pt;
	color: #48A1F0;
}


p {
	color: #808080;
}

pre code {
	color: #000000;
}

pre {
  background: #000;
  width: 750px;
  color: #48A1F0;
  padding: 15px;
	
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


#githubAPI_username {
	font-size: 16pt;
	color: #48A1F0;
	margin-left: 90px;
	margin-top: -20px;
}
#githubAPI_userinfo table {
	width: 750px;
	border: 0px;
	text-align: left;
	
}
#githubAPI_userinfo table th {
	padding: 5px;
	background-color: #000;
	text-decoration: none;
	font-size: 10pt;
	font-style: normal;
}
