body {
	margin: 0 auto;
	font-family: Helvetica, Arial, sans-serif;
	background-color: #4D4D4D;
	color: #808080;
}

body a {
	color: #808080;
}
body a:hover {
	color: #48A1F0;
}

/* Header */
header {
	position: absolute;
	top: 15px;
	right: 20px;
	border: 0;
	color: #808080;
}

header a{
	text-decoration: none;
	color: #48A1F0;
}



ul#navigation {
	list-style-type:none;
	margin-left:0;
	margin-top: 24px;
	padding-left: 140px;
	color: #808080;
}
ul#navigation a {
	color: #808080;
	text-decoration: none;
}
ul#navigation a:hover {
	color: #48A1F0;
}
ul#navigation li{
	float:left;
	padding-right:2px;
}

#breadcrumb {
	margin-top: 40px;
	margin-bottom: 20px;
	color: #48A1F0;
	font-size: 9pt;
}
#breadcrumb a {
	color: #48A1F0;
	font-size: 9pt;
}


/* */
section {
	margin-top: 100px;
	margin-bottom: 200px;
	padding-left: 140px;
}


/* Footer */
footer {
	position: absolute;
	left: 50%;
	width: 795px;
	margin-left: -397px;
	
}
#footer_content {
	position: absolute;
	left: 0px;
	width: 795px;
	/*margin-left: -397px;*/
	margin-top: -150px;
	margin-left: 100px;
	color: #999999;
	font-size: 9pt;
}
#footer_content a {
	text-decoration: none;
	color: #999999;
}



h1 {
	font-size: 16pt;
	color: #48A1F0;
}

p {
	color: #808080;
}


pre {
	background: #000;
	width: 750px;
	color: #48A1F0;
	padding: 15px;
}